
body {
    font-family: Arial, sans-serif;
}

#logo, #teaser {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.image-item {
    margin-bottom: 20px;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.image-details {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
    white-space: pre-wrap;
}

.filters {
    margin-bottom: 20px;
    text-align: center;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    margin-right: 20px;
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination input {
    width: 60px;
    padding: 5px;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    line-height: 35px;
}
